*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f6f6;
}
/*Logo Search login register start*/
.top-nav-head{
Background-image: url(homepagePhotos/headerbackground.jpg) ;
height: 83px;
position: relative;
}
.header-logo-haru{
width: 15%;
position: relative;
top: 10px;
padding-bottom: 5px;
left: 250px;
}
.searchcontainer{
display: inline-block;
position: absolute;
right: 20%;
top: 45%;
background-color: white;
border: 1.25px solid black;
border-radius: 7px;
}
.search{
width: 450px;
height: 35px;
border: none;
padding: 0px 5px;
border-radius: 5px;
}
#search-icon{
padding: 7px 5px ;
background-color: white;
outline: none;
border: none;
margin-right: 3px;
}
#R , #L{
padding: 5px 15px;
background-color: #ea1a7f7a;;
text-decoration: none;
color: black;
border-radius: 6px;
margin-right: 10px;
}
.RLcontainer{
position: absolute;
right: 30%;
bottom: 66%;
}
/*Logo Search login register E N D*/

/*Top Navigation Start*/
.header-navigation ul{
display: flex;
list-style: none;
background-color: rgb(246 246 244);
padding: 20px;
justify-content: space-around;
}
.list{
display: flex;
flex-direction: column;
}
.list .header-navigation-links {
text-decoration: none;
color: black;
display: flex;
font-size: 20pt;
}
.header-navigation-links .text{
display: none;
}
.header-navigation-links:hover .text{
display: contents;
transition: all 0.5s;
}
.header-navigation-links{
padding: 15px;
}
.header-navigation-links:hover{
background-color: #ea1a7f7a;
border-radius: 5px;
transition: all 0.5s;
}
/*Top Navigation end*/
                    /*END OF THE HEADER*/


/*Logo Search login register start*/

/*slider start*/
.sliderscontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgslider{
    margin: 20px 0px;
    width: 90% ;
}
/*slider end*/

.most-trend-bg{
    background: url(homepagePhotos/had.jpg);
}



/*MOST POPULER START*/
.wholecont{
    margin: 0px 30px 10px 37px;
    padding: 25px 25px 30px 25px;
}
.hptext{
    font-size: 27px;
    padding-top: 30px;
    font-style: italic;
}
.gridcontainer{
    padding: 25px 20px;
    display: grid;
   justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    border: 2px solid black;
    margin:25px 50px 0px 50px;
    background-color: #ebe7e6d4;
}
.hp-photos{
    width: 75%;
}

.underphotos{
    text-align: center;
    padding-top: 25px;
    font-size: 1.25em;
}
.text-description-decoration{
    text-decoration: none;
}
/*MOST POPULER E N D*/

/*Whats new start*/

.new-arrival{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-arrival{
    margin-top: 25px;
    width: 87% ;
}
/*Whats new E N D*/


/*trendy start*/

.trendycontainer{
    padding: 25px 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
}
/* .wholetrend the same of wholecont */
.wholetrend{
    margin: 0px 30px 0px 37px;
    padding: 25px 25px 30px 25px;
}
/*trendy E N D*/



/*footer start*/
.padding-container{
    padding: 1%;
    background-color: #ededed ;
}
.whole-footer-container{
    background-color:#ededed ;
    height: 11rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:0.5fr .1fr 0fr ;
}
.grid-footer{
    display: grid;
}

#footer-img{grid-row: 1/3;}
#Online-E-Commerce{grid-row: 3/4;}

.footer-lists{
    list-style: none;
}
.footer-links{
    color: black;
    text-decoration: none;
}
#Online-E-Commerce , #follow-us , #haru{
    color: #ef5aa1; ;
}
/*footer end*/